table{
	text-align: center;
	line-height:1.5;
	margin-left: auto;
	margin-right: auto;
}

.class01{
	background: #1EF3DE;
	width:70%;
}

.class02{
	background: #1EF3DL;
	width:70%;
}
.class-center{
	margin-left: auto;
	margin-right: auto;
	
}

table, th, td{
	border: 1px solid #bcbcbc;
}

h3{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}





