table{
   text-align: center;
   line-height: 1.5;
   margin-left: auto;
   margin-right: auto;
   width:90%;
}
table, th, td{
   border: 1px
}
.class02{
   background-color: #1ef3de;
}
.class03{
   background-color: #e0eeed;
   
}

.class-center{
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}